---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">A complete and up-to-date list is also available on <a href="{{site.author.googlescholar}}">Google Scholar</a>.</div>
{% endif %}

{% include base_path %}

<ul>
  {% for post in site.publications reversed %}
    <li>
      {{ post.citation | replace: "Kirill Brilliantov", "<strong>Kirill Brilliantov</strong>" }}
      {% assign links = "" %}
      {% if post.venueurl %}
        {% capture links %}{{ links }}<a href="{{ post.venueurl }}">{{ post.venue }}</a>{% endcapture %}
      {% endif %}
      {% if post.arxivurl %}
        {% if links != "" %}
          {% capture links %}{{ links }} | {% endcapture %}
        {% endif %}
        {% capture links %}{{ links }}<a href="{{ post.arxivurl }}">arXiv</a>{% endcapture %}
      {% endif %}
      {% if post.openreviewurl %}
        {% if links != "" %}
          {% capture links %}{{ links }} | {% endcapture %}
        {% endif %}
        {% capture links %}{{ links }}<a href="{{ post.openreviewurl }}">OpenReview</a>{% endcapture %}
      {% endif %}
      {% if links == "" and post.paperurl %}
        {% capture links %}<a href="{{ post.paperurl }}">Paper</a>{% endcapture %}
      {% endif %}
      {% if links != "" %}
        ({{ links }})
      {% endif %}
    </li>
  {% endfor %}
</ul>
